!!!
%html
  %head
    %meta{content: "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{charset: "utf-8"}/
    %title Webarch - Responsive Admin Dashboard
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    / BEGIN CORE CSS FRAMEWORK
    %link{href: "assets/plugins/pace/pace-theme-flash.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/plugins/boostrapv3/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/plugins/boostrapv3/css/bootstrap-theme.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/plugins/font-awesome/css/font-awesome.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/css/animate.min.css", rel: "stylesheet", type: "text/css"}/
    / END CORE CSS FRAMEWORK
    / BEGIN CSS TEMPLATE
    %link{href: "assets/css/style.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/css/responsive.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/css/custom-icon-set.css", rel: "stylesheet", type: "text/css"}/
    / END CSS TEMPLATE
  / END HEAD
  / BEGIN BODY
  %body.error-body.no-top
    .container
      .lockscreen-wrapper.animated.flipInX
        .row
          .col-md-8.col-md-offset-4.col-sm-6.col-sm-offset-4.col-xs-offset-2
            .profile-wrapper
              %img{alt: "", "data-src" => "assets/img/profiles/avatar.jpg", "data-src-retina" => "assets/img/profiles/avatar2x.jpg", height: "69", src: "assets/img/profiles/avatar.jpg", width: "69"}/
            %form.user-form{action: "index.html", method: "post"}
              %h2.user
                John
                %span.semi-bold Smith
              %input{placeholder: "Password", type: "password"}/
              %button.btn.btn-primary{type: "submit"}
                %i.fa.fa-unlock
      #push
    / END CONTAINER
    / BEGIN CORE JS FRAMEWORK
    %script{src: "assets/plugins/jquery-1.8.3.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/bootstrap/js/bootstrap.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-unveil/jquery.unveil.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/pace/pace.min.js", type: "text/javascript"}
    :javascript
      $(document).ready(function() {	
      	$("img").unveil();
      });
    / BEGIN CORE TEMPLATE JS
    / END CORE TEMPLATE JS
