!!!
%html
  %head
    %meta{content: "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{charset: "utf-8"}/
    %title Webarch - Responsive Admin Dashboard
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "assets/plugins/pace/pace-theme-flash.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/plugins/jquery-slider/css/jquery.sidr.light.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css", rel: "stylesheet", type: "text/css"}/
    / BEGIN CORE CSS FRAMEWORK
    %link{href: "assets/plugins/boostrapv3/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/plugins/boostrapv3/css/bootstrap-theme.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/plugins/font-awesome/css/font-awesome.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/css/animate.min.css", rel: "stylesheet", type: "text/css"}/
    / END CORE CSS FRAMEWORK
    / BEGIN CSS TEMPLATE
    %link{href: "assets/css/style.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/css/responsive.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/css/custom-icon-set.css", rel: "stylesheet", type: "text/css"}/
    / END CSS TEMPLATE
  / END HEAD
  / BEGIN BODY
  %body
    / BEGIN HEADER
    .header.navbar.navbar-inverse
      / BEGIN TOP NAVIGATION BAR
      .navbar-inner
        .header-seperation
          %ul#main-menu-toggle-wrapper.nav.pull-left.notifcation-center{style: "display:none"}
            %li.dropdown
              %a#main-menu-toggle{href: "#main-menu"}
                .iconset.top-menu-toggle-white
          / BEGIN LOGO
          %a{href: "index.html"}
            %img.logo{alt: "", "data-src" => "assets/img/logo.png", "data-src-retina" => "assets/img/logo2x.png", height: "21", src: "assets/img/logo.png", width: "106"}/
          / END LOGO
          %ul.nav.pull-right.notifcation-center
            %li#header_task_bar.dropdown
              %a.dropdown-toggle.active{"data-toggle" => "", href: "index.html"}
                .iconset.top-home
            %li#header_inbox_bar.dropdown
              %a.dropdown-toggle{href: "email.html"}
                .iconset.top-messages
                %span#msgs-badge.badge 2
            %li#portrait-chat-toggler.dropdown{style: "display:none"}
              %a.chat-menu-toggle{href: "#sidr"}
                .iconset.top-chat-white
        / END RESPONSIVE MENU TOGGLER
        .header-quick-nav
          / BEGIN TOP NAVIGATION MENU
          .pull-left
            %ul.nav.quick-section
              %li.quicklinks
                %a#layout-condensed-toggle{href: "#"}
                  .iconset.top-menu-toggle-dark
            %ul.nav.quick-section
              %li.quicklinks
                %a{href: "#"}
                  .iconset.top-reload
              %li.quicklinks
                %span.h-seperate
              %li.quicklinks
                %a{href: "#"}
                  .iconset.top-tiles
              %li.m-r-10.input-prepend.inside.search-form.no-boarder
                %span.add-on
                  %span.iconset.top-search
                %input.no-boarder{name: "", placeholder: "Search Dashboard", style: "width:250px;", type: "text"}/
          / END TOP NAVIGATION MENU
          / BEGIN CHAT TOGGLER
          .pull-right
            .chat-toggler
              %a#my-task-list.dropdown-toggle{"data-content" => "", "data-original-title" => "Notifications", "data-placement" => "bottom", "data-toggle" => "dropdown", href: "#"}
                .user-details
                  .username
                    %span.badge.badge-important 3
                    John
                    %span.bold Smith
                .iconset.top-down-arrow
              #notification-list{style: "display:none"}
                %div{style: "width:300px"}
                  .notification-messages.info
                    .user-profile
                      %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
                    .message-wrapper
                      .heading
                        David Nester - Commented on your wall
                      .description
                        Meeting postponed to tomorrow
                      .date.pull-left
                        A min ago
                    .clearfix
                  .notification-messages.danger
                    .iconholder
                      %i.icon-warning-sign
                    .message-wrapper
                      .heading
                        Server load limited
                      .description
                        Database server has reached its daily capicity
                      .date.pull-left
                        2 mins ago
                    .clearfix
                  .notification-messages.success
                    .user-profile
                      %img{alt: "", "data-src" => "assets/img/profiles/h.jpg", "data-src-retina" => "assets/img/profiles/h2x.jpg", height: "35", src: "assets/img/profiles/h.jpg", width: "35"}/
                    .message-wrapper
                      .heading
                        You haveve got 150 messages
                      .description
                        150 newly unread messages in your inbox
                      .date.pull-left
                        An hour ago
                    .clearfix
              .profile-pic
                %img{alt: "", "data-src" => "assets/img/profiles/avatar_small.jpg", "data-src-retina" => "assets/img/profiles/avatar_small2x.jpg", height: "35", src: "assets/img/profiles/avatar_small.jpg", width: "35"}/
            %ul.nav.quick-section
              %li.quicklinks
                %a#user-options.dropdown-toggle.pull-right{"data-toggle" => "dropdown", href: "#"}
                  .iconset.top-settings-dark
                %ul.dropdown-menu.pull-right{"aria-labelledby" => "user-options", role: "menu"}
                  %li
                    %a{href: "user-profile.html"} My Account
                  %li
                    %a{href: "calender.html"} My Calendar
                  %li
                    %a{href: "email.html"}
                      My Inbox  
                      %span.badge.badge-important.animated.bounceIn 2
                  %li.divider
                  %li
                    %a{href: "login.html"}
                      %i.fa.fa-power-off>
                        Log Out
              %li.quicklinks
                %span.h-seperate
              %li.quicklinks
                %a#chat-menu-toggle.chat-menu-toggle{href: "#sidr"}
                  .iconset.top-chat-dark
                    %span#chat-message-count.badge.badge-important.hide 1
                .simple-chat-popup.chat-menu-toggle.hide
                  .simple-chat-popup-arrow
                  .simple-chat-popup-inner
                    %div{style: "width:100px"}
                      .semi-bold David Nester
                      .message Hey you there
          / END CHAT TOGGLER
        / END TOP NAVIGATION MENU
      / END TOP NAVIGATION BAR
    / END HEADER
    / BEGIN CONTAINER
    .page-container.row
      / BEGIN SIDEBAR
      #main-menu.page-sidebar
        / BEGIN MINI-PROFILE
        .user-info-wrapper
          .profile-wrapper
            %img{alt: "", "data-src" => "assets/img/profiles/avatar.jpg", "data-src-retina" => "assets/img/profiles/avatar2x.jpg", height: "69", src: "assets/img/profiles/avatar.jpg", width: "69"}/
          .user-info
            .greeting Welcome
            .username
              John
              %span.semi-bold Smith
            .status
              Status
              %a{href: "#"}
                .status-icon.green>
                Online
        / END MINI-PROFILE
        / BEGIN SIDEBAR MENU
        %p.menu-title
          BROWSE
          %span.pull-right
            %a{href: "javascript:;"}
              %i.fa.fa-refresh
        %ul
          %li.start.active
            %a{href: "index.html"}
              %i.icon-custom-home
              %span.title Dashboard
              %span.selected
              %span.badge.badge-important.pull-right 5
          %li
            %a{href: "email.html"}
              %i.fa.fa-envelope
              %span.title Email
              %span.badge.badge-disable.pull-right 203
          %li
            %a{href: "../frontend/index.html"}
              %i.fa.fa-flag
              %span.title Frontend
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-ui
              %span.title UI Elements
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "typography.html"} Typography
              %li
                %a{href: "messages_notifications.html"} Messages &amp; Notifications
              %li
                %a{href: "icons.html"} Icons
              %li
                %a{href: "buttons.html"} Buttons
              %li
                %a{href: "tabs_accordian.html"} Tabs &amp; Accordions
              %li
                %a{href: "sliders.html"} Sliders
              %li
                %a{href: "group_list.html"} Group list
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-form
              %span.title Forms
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "form_elements.html"} Form Elements
              %li
                %a{href: "form_validations.html"} Form Validations
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-portlets
              %span.title Grids
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "grids_simple.html"} Simple Grids
              %li
                %a{href: "grids_draggable.html"} Draggable Grids
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-thumb
              %span.title Tables
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "tables.html"} Basic Tables
              %li
                %a{href: "datatables.html"} Data Tables
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-map
              %span.title Maps
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "google_map.html"} Google Maps
              %li
                %a{href: "vector_map.html"} Vector Maps
          %li
            %a{href: "charts.html"}
              %i.icon-custom-chart
              %span.title Charts
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-extra
              %span.title Extra
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "user-profile.html"} User Profile
              %li
                %a{href: "time_line.html"} Time line
              %li
                %a{href: "support_ticket.html"} Support Ticket
              %li
                %a{href: "gallery.html"} Gallery
              %li
                %a{href: "calender.html"} Calendar
              %li
                %a{href: "search_results.html"} Search Results
              %li
                %a{href: "invoice.html"} Invoice
              %li
                %a{href: "404.html"} 404 Page
              %li
                %a{href: "500.html"} 500 Page
              %li
                %a{href: "blank_template.html"} Blank Page
              %li
                %a{href: "login.html"} Login
              %li
                %a{href: "login_v2.html"} Login v2
              %li
                %a{href: "lockscreen.html"} Lockscreen
          %li
            %a{href: "javascript:;"}
              %i.fa.fa-folder-open
              %span.title Menu Levels
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "javascript:;"} Level 1
              %li
                %a{href: "javascript:;"}
                  %span.title Level 2
                  %span.arrow
                %ul.sub-menu
                  %li
                    %a{href: "javascript:;"} Sub Menu
                  %li
                    %a{href: "ujavascript:;"} Sub Menu
          %li#more-widgets.hidden-lg.hidden-md.hidden-xs
            %a{href: "javascript:;"}
              %i.fa.fa-plus
            %ul.sub-menu
              %li.side-bar-widgets
                %p.menu-title
                  FOLDER
                  %span.pull-right
                    %a.create-folder{href: "#"}
                      %i.icon-plus
                %ul.folders
                  %li
                    %a{href: "#"}
                      .status-icon.green
                      My quick tasks
                  %li
                    %a{href: "#"}
                      .status-icon.red
                      To do list
                  %li
                    %a{href: "#"}
                      .status-icon.blue
                      Projects
                  %li.folder-input{style: "display:none"}
                    %input#folder-name.no-boarder.folder-name{name: "", placeholder: "Name of folder", type: "text"}/
                %p.menu-title PROJECTS
                .status-widget
                  .status-widget-wrapper
                    .title
                      Freelancer
                      %a.remove-widget{href: "#"}
                        %i.icon-custom-cross
                    %p Redesign home page
                .status-widget
                  .status-widget-wrapper
                    .title
                      envato
                      %a.remove-widget{href: "#"}
                        %i.icon-custom-cross
                    %p Statistical report
        .side-bar-widgets
          %p.menu-title
            FOLDER
            %span.pull-right
              %a.create-folder{href: "#"}
                %i.fa.fa-plus
          %ul.folders
            %li
              %a{href: "#"}
                .status-icon.green
                My quick tasks
            %li
              %a{href: "#"}
                .status-icon.red
                To do list
            %li
              %a{href: "#"}
                .status-icon.blue
                Projects
            %li.folder-input{style: "display:none"}
              %input.no-boarder.folder-name{name: "", placeholder: "Name of folder", type: "text"}/
          %p.menu-title PROJECTS
          .status-widget
            .status-widget-wrapper
              .title
                Freelancer
                %a.remove-widget{href: "#"}
                  %i.icon-custom-cross
              %p Redesign home page
          .status-widget
            .status-widget-wrapper
              .title
                envato
                %a.remove-widget{href: "#"}
                  %i.icon-custom-cross
              %p Statistical report
        %a.scrollup{href: "#"} Scroll
        .clearfix
        / END SIDEBAR MENU
      .footer-widget
        .progress.transparent.progress-small.no-radius.no-margin
          .progress-bar.progress-bar-success.animate-progress-bar{"data-percentage" => "79%"}
        .pull-right
          .details-status
            %span.animate-number{"data-animation-duration" => "560", "data-value" => "86"}>
            \%
          %a{href: "lockscreen.html"}
            %i.fa.fa-power-off
      / END SIDEBAR
      / BEGIN PAGE CONTAINER
      .page-content
        / BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM
        #portlet-config.modal.hide
          .modal-header
            %button.close{"data-dismiss" => "modal", type: "button"}
            %h3 Widget Settings
          .modal-body Widget settings form goes here
        .clearfix
        .content
          %ul.breadcrumb
            %li
              %p YOU ARE HERE
            %li
              %a.active{href: "#"} Support
          .page-title
            %i.icon-custom-left
            %h3 Support
            .pull-right.actions
              %button#btn-new-ticket.btn.btn-primary.btn-cons{type: "button"} New Ticket
          .clearfix
          .row
            .col-md-12
              #new-ticket-wrapper.grid.simple.transparent{style: "display:none"}
                .grid-title.no-border
                  %h4.semi-bold How can we help you?
                .grid-body
                  %form#new-ticket-form
                    .row.form-row
                      .col-md-8
                        %input#txtSubject.form-control{name: "txtSubject", placeholder: "Subject", type: "text"}/
                      .col-md-4
                        %input#txtDept.form-control{name: "txtDept", placeholder: "Department", type: "text"}/
                    .row.form-row
                      .col-md-12
                        %textarea#txtMessage.form-control{placeholder: "Please detail your issue or question", rows: "8"}
                    .row.form-row
                      .col-md-12.margin-top-10
                        .pull-left
                          .checkbox.checkbox.check-success
                             
                            %input#checkbox1{type: "checkbox", value: "1"}/
                            %label{for: "checkbox1"} I Here by agree on the Term and condition.
                        .pull-right
                          %button#btn-close-ticket.btn.btn-cons{type: "button"} Close
                          %button.btn.btn-primary.btn-cons{type: "submit"} Submit
          %h4
            Open
            %span.semi-bold Tickets
          %br/
          .row
            .col-md-12
              .grid.simple.no-border
                .grid-title.no-border.descriptive.clickable
                  %h4.semi-bold Too many down times
                  %p
                    %span.text-success.bold Ticket #456
                    \- Created on 10/29/13 at 06:33 - Last reply About 1 Month ago by alex  
                    %span.label.label-important ALERT
                  .actions
                    %a.view{href: "javascript:;"}
                      %i.fa.fa-search
                    %a.remove{href: "javascript:;"}
                      %i.fa.fa-times
                .grid-body.no-border{style: "display:none"}
                  .post
                    .user-profile-pic-wrapper
                      .user-profile-pic-normal
                        %img{alt: "", "data-src" => "assets/img/profiles/avatar_small.jpg", "data-src-retina" => "assets/img/profiles/avatar_small2x.jpg", height: "35", src: "assets/img/profiles/avatar_small.jpg", width: "35"}/
                    .info-wrapper
                      .info
                        Hi I have installed agent to monitor the usage of the droplet done via Anturis
                        %br/
                        and lately there was a lot of down time. One that caught my eye was this
                        %br/
                        Incident report
                        %br/
                        %br/
                        New Critical Incident started at 13:10 MST on Monday, October 28
                        %br/
                        Critical Incident started at 13:10 MST on Monday, October 28 with ace has ended at 13:51 MST on Monday, October 28.
                        %br/
                        %br/
                        Incident duration was 41 minutes.
                        %br/
                        %br/
                        The server did not respond for 41 minutes.As you see 41 minutes is a big deal for us as we are going to lose alot of revenue we need you guys to check if these records are correct and if so why and will this happen again? or do we need to purchase some sort of cluster ? this is a very critical situation
                        %br/
                        %br/
                        Waiting for your reply
                      .clearfix
                    .clearfix
                  %br/
                  .form-actions
                    .post.col-md-12
                      .user-profile-pic-wrapper
                        .user-profile-pic-normal
                          %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                      .info-wrapper
                        .info
                          Hi,
                          %br/
                          %br/
                          Thank you for reaching us, We are looking into this issue and will update you.
                          %br/
                          %br/
                          Alex
                          %br/
                          %hr/
                          %p.small-text Posted on 10/29/13 at 07:21
                        .form-group
                          %label.form-label
                            %i.fa.fa-reply>
                             Post a reply
                          .controls
                            %input.form-control{type: "text"}/
                        .clearfix
                      .clearfix
            .col-md-12
              .grid.simple.no-border
                .grid-title.no-border.descriptive.clickable
                  %h4.semi-bold Sub domain to point to a different droplet
                  %p
                    %span.text-success.bold Ticket #569
                    \- Created on 11/02/13 at 06:33 - Last reply About 1 Month ago by William  
                  .actions
                    %a.view{href: "javascript:;"}
                      %i.fa.fa-search
                    %a.remove{href: "javascript:;"}
                      %i.fa.fa-times
                .grid-body.no-border{style: "display:none"}
                  .post
                    .user-profile-pic-wrapper
                      .user-profile-pic-normal
                        %img{alt: "", "data-src" => "assets/img/profiles/avatar_small.jpg", "data-src-retina" => "assets/img/profiles/avatar_small2x.jpg", height: "35", src: "assets/img/profiles/avatar_small.jpg", width: "35"}/
                    .info-wrapper
                      .info
                        Hi I have installed agent to monitor the usage of the droplet done via Anturis
                        %br/
                        and lately there was a lot of down time. One that caught my eye was this
                        %br/
                        Incident report
                        %br/
                        %br/
                        New Critical Incident started at 13:10 MST on Monday, October 28
                        %br/
                        Critical Incident started at 13:10 MST on Monday, October 28 with ace has ended at 13:51 MST on Monday, October 28.
                        %br/
                        %br/
                        Incident duration was 41 minutes.
                        %br/
                        %br/
                        The server did not respond for 41 minutes.As you see 41 minutes is a big deal for us as we are going to lose alot of revenue we need you guys to check if these records are correct and if so why and will this happen again? or do we need to purchase some sort of cluster ? this is a very critical situation
                        %br/
                        %br/
                        Waiting for your reply
                      .clearfix
                    .clearfix
                  %br/
                  .form-actions
                    .post.col-md-12
                      .user-profile-pic-wrapper
                        .user-profile-pic-normal
                          %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                      .info-wrapper
                        .info
                          Hi,
                          %br/
                          %br/
                          Thank you for reaching us, We are looking into this issue and will update you.
                          %br/
                          %br/
                          Alex
                          %br/
                          %hr/
                          %p.small-text Posted on 10/29/13 at 07:21
                        .form-group
                          %label.form-label
                            %i.fa.fa-reply>
                             Post a reply
                          .controls
                            %input.form-control{type: "text"}/
                        .clearfix
                      .clearfix
          %h4
            Closed
            %span.semi-bold Tickets
          %br/
          .row
            .col-md-12
              .grid.simple.no-border
                .grid-title.no-border.descriptive.clickable
                  %h4.semi-bold Too many down times
                  %p
                    %span.text-success.bold Ticket #456
                    \- Created on 10/29/13 at 06:33 - Last reply About 1 Month ago by alex  
                    %span.label.label-important ALERT
                  .actions
                    %a.expand{href: "javascript:;"}
                      %i.fa.fa-search
                    %a.view{href: "javascript:;"}
                      %i.fa.fa-times
                .grid-body.no-border{style: "display:none"}
                  .post
                    .user-profile-pic-wrapper
                      .user-profile-pic-normal
                        %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                    .info-wrapper
                      .info
                        Hi I have installed agent to monitor the usage of the droplet done via Anturis
                        %br/
                        and lately there was a lot of down time. One that caught my eye was this
                        %br/
                        Incident report
                        %br/
                        %br/
                        New Critical Incident started at 13:10 MST on Monday, October 28
                        %br/
                        Critical Incident started at 13:10 MST on Monday, October 28 with ace has ended at 13:51 MST on Monday, October 28.
                        %br/
                        %br/
                        Incident duration was 41 minutes.
                        %br/
                        %br/
                        The server did not respond for 41 minutes.As you see 41 minutes is a big deal for us as we are going to lose alot of revenue we need you guys to check if these records are correct and if so why and will this happen again? or do we need to purchase some sort of cluster ? this is a very critical situation
                        %br/
                        %br/
                        Waiting for your reply
                      .clearfix
                    .clearfix
                  %br/
                  .form-actions
                    .post.col-md-12
                      .user-profile-pic-wrapper
                        .user-profile-pic-normal
                          %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                      .info-wrapper
                        .info
                          Hi,
                          %br/
                          %br/
                          Thank you for reaching us, We are looking into this issue and will update you.
                          %br/
                          %br/
                          Alex
                          %br/
                          %hr/
                          %p Posted on 10/29/13 at 07:21
                        .form-group
                          %label.form-label
                            %i.fa.fa-reply>
                             Amount
                          .input-with-icon.right
                            %i
                            %input.form-control{type: "text"}/
                        .clearfix
                      .clearfix
          .row
            .col-md-12
              .grid.simple.no-border
                .grid-title.no-border.descriptive.clickable
                  %h4.semi-bold Domain Propergation
                  %p
                    %span.text-success.bold Ticket #885
                    \- Created on 10/19/13 at 06:33 - Last reply About 1 Month ago by support  
                    %span.label.label-important ALERT
                  .actions
                    %a.expand{href: "javascript:;"}
                      %i.fa.fa-search
                    %a.view{href: "javascript:;"}
                      %i.fa.fa-times
                .grid-body.no-border{style: "display:none"}
                  .post
                    .user-profile-pic-wrapper
                      .user-profile-pic-normal
                        %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                    .info-wrapper
                      .info
                        Hi I have installed agent to monitor the usage of the droplet done via Anturis
                        %br/
                        and lately there was a lot of down time. One that caught my eye was this
                        %br/
                        Incident report
                        %br/
                        %br/
                        New Critical Incident started at 13:10 MST on Monday, October 28
                        %br/
                        Critical Incident started at 13:10 MST on Monday, October 28 with ace has ended at 13:51 MST on Monday, October 28.
                        %br/
                        %br/
                        Incident duration was 41 minutes.
                        %br/
                        %br/
                        The server did not respond for 41 minutes.As you see 41 minutes is a big deal for us as we are going to lose alot of revenue we need you guys to check if these records are correct and if so why and will this happen again? or do we need to purchase some sort of cluster ? this is a very critical situation
                        %br/
                        %br/
                        Waiting for your reply
                      .clearfix
                    .clearfix
                  %br/
                  .form-actions
                    .post.col-md-12
                      .user-profile-pic-wrapper
                        .user-profile-pic-normal
                          %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                      .info-wrapper
                        .info
                          Hi,
                          %br/
                          %br/
                          Thank you for reaching us, We are looking into this issue and will update you.
                          %br/
                          %br/
                          Alex
                          %br/
                          %hr/
                          %p Posted on 10/29/13 at 07:21
                        .form-group
                          %label.form-label
                            %i.fa.fa-reply>
                             Amount
                          .input-with-icon.right
                            %i
                            %input.form-control{type: "text"}/
                        .clearfix
                      .clearfix
          .row
            .col-md-12
              .grid.simple.no-border
                .grid-title.no-border.descriptive.clickable
                  %h4.semi-bold How to access via Putty
                  %p
                    %span.text-success.bold Ticket #152
                    \- Created on 10/09/13 at 06:33 - Last reply About 1 Month ago by support  
                  .actions
                    %a.expand{href: "javascript:;"}
                      %i.fa.fa-search
                    %a.view{href: "javascript:;"}
                      %i.fa.fa-times
                .grid-body.no-border{style: "display:none"}
                  .post
                    .user-profile-pic-wrapper
                      .user-profile-pic-normal
                        %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                    .info-wrapper
                      .info
                        Hi I have installed agent to monitor the usage of the droplet done via Anturis
                        %br/
                        and lately there was a lot of down time. One that caught my eye was this
                        %br/
                        Incident report
                        %br/
                        %br/
                        New Critical Incident started at 13:10 MST on Monday, October 28
                        %br/
                        Critical Incident started at 13:10 MST on Monday, October 28 with ace has ended at 13:51 MST on Monday, October 28.
                        %br/
                        %br/
                        Incident duration was 41 minutes.
                        %br/
                        %br/
                        The server did not respond for 41 minutes.As you see 41 minutes is a big deal for us as we are going to lose alot of revenue we need you guys to check if these records are correct and if so why and will this happen again? or do we need to purchase some sort of cluster ? this is a very critical situation
                        %br/
                        %br/
                        Waiting for your reply
                      .clearfix
                    .clearfix
                  %br/
                  .form-actions
                    .post.col-md-12
                      .user-profile-pic-wrapper
                        .user-profile-pic-normal
                          %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                      .info-wrapper
                        .info
                          Hi,
                          %br/
                          %br/
                          Thank you for reaching us, We are looking into this issue and will update you.
                          %br/
                          %br/
                          Alex
                          %br/
                          %hr/
                          %p Posted on 10/29/13 at 07:21
                        .form-group
                          %label.form-label
                            %i.fa.fa-reply>
                             Amount
                          .input-with-icon.right
                            %i
                            %input.form-control{type: "text"}/
                        .clearfix
                      .clearfix
    / END CONTAINER
    / BEGIN CHAT
    #sidr.chat-window-wrapper
      #main-chat-wrapper
        #chat-users.chat-window-wrapper.fadeIn
          .chat-header
            .pull-left
              %input{placeholder: "search", type: "text"}/
            .pull-right
              %a{href: "#"}
                .iconset.top-settings-dark
          .side-widget
            .side-widget-title group chats
            .side-widget-content
              #groups-list
                %ul.groups
                  %li
                    %a{href: "#"}
                      .status-icon.green>
                      Office work
                  %li
                    %a{href: "#"}
                      .status-icon.green>
                      Personal vibes
          .side-widget.fadeIn
            .side-widget-title favourites
            #favourites-list
              .side-widget-content
                .user-details-wrapper.active{"data-chat-status" => "online", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "Jane Smith"}
                  .user-profile
                    %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
                  .user-details
                    .user-name
                      Jane Smith
                    .user-more
                      Hello you there?
                  .user-details-status-wrapper
                    %span.badge.badge-important 3
                  .user-details-count-wrapper
                    .status-icon.green
                  .clearfix
                .user-details-wrapper{"data-chat-status" => "busy", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "David Nester"}
                  .user-profile
                    %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                  .user-details
                    .user-name
                      David Nester
                    .user-more
                      Busy, Do not disturb
                  .user-details-status-wrapper
                    .clearfix
                  .user-details-count-wrapper
                    .status-icon.red
                  .clearfix
          .side-widget
            .side-widget-title more friends
            #friends-list.side-widget-content
              .user-details-wrapper{"data-chat-status" => "online", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "Jane Smith"}
                .user-profile
                  %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
                .user-details
                  .user-name
                    Jane Smith
                  .user-more
                    Hello you there?
                .user-details-status-wrapper
                .user-details-count-wrapper
                  .status-icon.green
                .clearfix
              .user-details-wrapper{"data-chat-status" => "busy", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "David Nester"}
                .user-profile
                  %img{alt: "", "data-src" => "assets/img/profiles/h.jpg", "data-src-retina" => "assets/img/profiles/h2x.jpg", height: "35", src: "assets/img/profiles/h.jpg", width: "35"}/
                .user-details
                  .user-name
                    David Nester
                  .user-more
                    Busy, Do not disturb
                .user-details-status-wrapper
                  .clearfix
                .user-details-count-wrapper
                  .status-icon.red
                .clearfix
              .user-details-wrapper{"data-chat-status" => "online", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "Jane Smith"}
                .user-profile
                  %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                .user-details
                  .user-name
                    Jane Smith
                  .user-more
                    Hello you there?
                .user-details-status-wrapper
                .user-details-count-wrapper
                  .status-icon.green
                .clearfix
              .user-details-wrapper{"data-chat-status" => "busy", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "David Nester"}
                .user-profile
                  %img{alt: "", "data-src" => "assets/img/profiles/h.jpg", "data-src-retina" => "assets/img/profiles/h2x.jpg", height: "35", src: "assets/img/profiles/h.jpg", width: "35"}/
                .user-details
                  .user-name
                    David Nester
                  .user-more
                    Busy, Do not disturb
                .user-details-status-wrapper
                  .clearfix
                .user-details-count-wrapper
                  .status-icon.red
                .clearfix
        #messages-wrapper.chat-window-wrapper.fadeIn{style: "display:none"}
          .chat-header
            .pull-left
              %input{placeholder: "search", type: "text"}/
            .pull-right
              %a{href: "#"}
                .iconset.top-settings-dark
          .clearfix
          .chat-messages-header
            .status.online
            %span.semi-bold Jane Smith(Typing..)
            %a.chat-back{href: "#"}
              %i.icon-custom-cross
          .chat-messages
            .sent_time Yesterday 11:25pm
            .user-details-wrapper
              .user-profile
                %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
              .user-details
                .bubble
                  Hello, You there?
              .clearfix
              .sent_time.off Yesterday 11:25pm
            .user-details-wrapper
              .user-profile
                %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
              .user-details
                .bubble
                  How was the meeting?
              .clearfix
              .sent_time.off Yesterday 11:25pm
            .user-details-wrapper
              .user-profile
                %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
              .user-details
                .bubble
                  Let me know when you free
              .clearfix
              .sent_time.off Yesterday 11:25pm
            .sent_time Today 11:25pm
            .user-details-wrapper.pull-right
              .user-details
                .bubble.sender
                  Let me know when you free
              .clearfix
              .sent_time.off Sent On Tue, 2:45pm
        .chat-input-wrapper{style: "display:none"}
          %textarea#chat-message-input{placeholder: "Type your message", rows: "1"}
        .clearfix
    / END CHAT
    / END CONTAINER
    / BEGIN CORE JS FRAMEWORK
    %script{src: "assets/plugins/jquery-1.8.3.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/bootstrap/js/bootstrap.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/breakpoints.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-unveil/jquery.unveil.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-block-ui/jqueryblockui.js", type: "text/javascript"}
    / END CORE JS FRAMEWORK
    / BEGIN PAGE LEVEL JS
    %script{src: "assets/plugins/jquery-slider/jquery.sidr.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/pace/pace.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js", type: "text/javascript"}
    %script{src: "assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js", type: "text/javascript"}
    %script{src: "assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-validation/js/jquery.validate.min.js", type: "text/javascript"}
    / END PAGE LEVEL PLUGINS
    %script{src: "assets/js/support_ticket.js", type: "text/javascript"}
    / BEGIN CORE TEMPLATE JS
    %script{src: "assets/js/core.js", type: "text/javascript"}
    %script{src: "assets/js/chat.js", type: "text/javascript"}
    %script{src: "assets/js/demo.js", type: "text/javascript"}
    / END CORE TEMPLATE JS
