body {
    margin: 0;
    padding: 0;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 960px;
    height: 540px;
    background: #fff url('../images/back.png');
}

#info {
    position: absolute;
    top: 100px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 960px;
    height: 250px;
    text-align: center;
    font-size: 24px;
    color: #000;
}

#message {
    position: absolute;
    top: 350px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 960px;
    height: 100px;
    text-align: center;
    font-size: 18px;
    color: #444;
}