<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<ThumbIcon>icon/default_106.png</ThumbIcon>
	<BigThumbIcon>icon/default_115.png</BigThumbIcon>
	<ListIcon>icon/default_85.png</ListIcon>
    <BigListIcon>icon/default_95.png</BigListIcon>
	
	<category>information</category>
	<autoUpdate>y</autoUpdate>

	<cpname>Samsung</cpname>
	<cpauthjs></cpauthjs>
	<login>n</login>

	<ver>1.00</ver>
	<mgrver>2.250</mgrver>
	
	<fullwidget>y</fullwidget>
	<srcctl>y</srcctl>
	<ticker>n</ticker>
	<childlock>n</childlock>
	<audiomute>y</audiomute>
	<videomute>y</videomute>
	<dcont>y</dcont>
	<movie>y</movie>
	<mouse>y</mouse>

	<widgetname>News</widgetname>
	<description>Samsung Framework default application</description>

	<width>960</width>
	<height>540</height>

	<author>
		<name>Samsung Electronics Co. Ltd.</name>
		<email></email>
		<link>http://www.sec.co.kr/</link>
		<organization>Samsung Electronics Co. Ltd.</organization>
	</author>
</widget>
